<a href="https://colab.research.google.com/github/24satyam/check/blob/master/FirstProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#ipynb:->interactive python Notebook
"""
multiline comments
"""

'\nmultiline comments\n'

In [2]:
#create a string
name = "Satyam Yadav"
name1 = 'tj'

In [6]:
#print function
print(name) #print single values
print(name,name1,sep=":") #print multiple values
print("Name is",name," Name1 is ",name1) #print variables with text
print("Name is ", name,sep=":") # using sepeartor

Satyam Yadav
Satyam Yadav:tj
Name is Satyam Yadav  Name1 is  tj
Name is :Satyam Yadav

In [9]:
#check the datatypes in the cell using tyep() function
type(name) #check the type of name variable
type(name1) #check the type of name1 variable
#print the type
print("type of name is ",type(name))
print("type of name1 is ",type(name1))

type of name is  <class 'str'>
type of name1 is  <class 'str'>

In [10]:
#explore other datatypes like float,boolean integers
var_float = 10.25
print("type of var_float is ",type(var_float))

var_int = 10
print("type of var_int is ",type(var_int))

var_bool = True
print("type of var_bool is ",type(var_bool))

type of var_float is  <class 'float'>
type of var_int is  <class 'int'>
type of var_bool is  <class 'bool'>

In [15]:
# given a problem statement store data in appropriate variables
# name of student is satyam yadav 
# age of student is 21
# result of student is True(pass) 
# heigth of student is 5.8
# print the type of each variable

name = "Satyam Yadav"
age = 21
result = True
height=5.8
print("the type of name is ",type(name))
print("the type of age is ",type(age))
print("the type of result is ",type(result))
print("the type of height is ",type(height))

the type of name is  <class 'str'>
the type of age is  <class 'int'>
the type of result is  <class 'bool'>
the type of height is  <class 'float'>